body
{
	margin:0;
	padding:0;
	font-family: sans-serif;
}

.navegador {
	z-index:1;
}



.btn_oculto
{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	box-sizing: border-box;
	color:#fff;
}

.oculto {
	display: none;
}

.caja_proyecto {
	opacity: 1;
}


